@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

/* ::-webkit-scrollbar {
    display: none;
} */

.col-10 {
    width: 83.33333333% !important;
}

*>body {
    font-family: 'Chakra Petch', sans-serif !important;
    margin: 0%;
}

.abc {
    background-color: #005ec4;
}

header {
    color: white;
}

header .headerTop {
    background-color: #005ec4;
}

header .headerTop .headerTop__infoCompany {
    height: 100%;
    justify-content: end;
}

header .headerTop .headerTop__infoCompany p {
    padding: 6px 0px;
    margin: inherit;
}

header .headerMain>div {
    align-items: baseline;
    flex-wrap: wrap;
}

header .headerMain .headerMain__avatar {
    display: flex;
    flex-direction: column;
    position: relative;
}

header .headerMain .headerMain__avatar .avatar {
    width: 44px;
    margin: auto;
    border-radius: 50px;
    border: 1px solid #212529;
    overflow: hidden;
}

header .headerMain .headerMain__avatar .avatar>img {
    width: 100%;
}

header .headerMain .headerMain__avatar .name>a>p {
    margin: 0;
}

header .headerMain .headerMain__avatar .name a:nth-child(1),
header .headerMain .headerMain__avatar .name a:nth-child(2) {
    text-decoration: none;
    color: black;
    background-color: green;
}

header .headerMain .headerMain__avatar .name>a:hover {
    color: white;
    background-color: grey;
}

header .headerMain .headerMain__avatar .name {
    position: absolute;
    display: none;
}

header .headerMain .headerMain__avatar:hover .name {
    position: absolute;
    display: block;
    background-color: white;
    right: -65%;
    top: 0;
}

header .headerMain .headerMain__formSearch {
    display: flex;
    position: relative;
    justify-content: space-between;
    min-width: 400px;
    height: 48px;
    border: 1px solid #005ec4;
}

header .headerMain .headerMain__cart i {
    color: white;
    font-size: 20px !important;
    padding: 0 10px;
}

.body_Price .info-carts i {
    color: white;
    font-size: 20px !important;
    padding: 0 10px;
}

header .formSearch--keyWord input {
    border: none;
    padding: 0 10%;
    width: 100%;
}

header .formSearch--select .dropdown-menu li:nth-child(1) a {
    color: rgb(0, 94, 196);
}

header .formSearch--keyWord input:focus-visible {
    outline: none;
}

header .headerMain__formSearch {
    display: flex;
    align-items: center;
    width: 60%;
}

header .headerMain__formSearch .formSearch--select {
    display: flex;
    align-items: center;
    width: 255px;
    height: 100%;
}

header .headerMain__formSearch .formSearch--select i {
    color: #29324e;
    margin: 0 0 5px 0;
}

header .headerMain__formSearch .formSearch--select:before {
    content: "";
    height: calc(100% - 20%);
    width: 1px;
    background: #005ec4;
    display: block;
}

header .headerMain__formSearch .formSearch--keyWord {
    display: flex;
    width: 100%;
}

header .headerMain__formSearch .formSearch--keyWord>div {
    width: 90%;
    height: 95%;
    padding-left: 5%;
}

.formSearch--select .btn-group {
    height: 100%;
    min-width: 225px;
}

.formSearch--select .btn-group p {
    color: #ffffff;
}

.formSearch--select .btn-group .select_title {
    display: flex;
    align-items: center;
}

.formSearch--select .btn-group .select_title p {
    color: #29324e;
    margin: 0 10px;
}

.formSearch--select .btn-group img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.headerMain__cart {
    align-items: center;
    padding-right: 10px;
    display: flex;
    background-color: #29324e;
}

.headerMain__cart span {
    margin: 11px 0px;
    padding: 0px 9px;
    color: #29324e;
    background-color: #fff200;
}


/* headerBottom */

header .headerBottom {
    background-color: #eef0f7;
    color: #29324e;
}

header .headerBottom__category .category--sale a {
    transition: 1s ease-in;
    animation: blink 1.2s;
    animation-iteration-count: infinite;
}

.headerBottom i {
    margin: 0 13px;
}

header .formSearch--select .dropdown-menu {
    position: absolute;
    top: 102%;
    width: 100%;
    border-radius: 0%;
    overflow: auto;
    height: 500px;
}

.dropdown-menu:-webkit-scrollbar-thumb {
    background: #99a0ad;
    border-radius: 10px;
}

.dropdown-main {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.dropdown-menu li>hr {
    margin: auto;
    width: 85%;
}

header .headerBottom {
    background-color: #eef0f7;
    color: #29324e;
}

header .headerBottom .category--sale>a {
    color: crimson;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        color: crimson;
    }
    25% {
        color: lightsalmon;
    }
    50% {
        color: pink;
    }
    100% {
        color: indigo;
    }
}


/* Áp dụng animation vào phần tử */


/* div {
    width: 100px;
    height: 100px;
    background-color: crimson;
    animation-name: example;
    animation-duration: 4s;
  } */

.headerBottom i {
    margin: 0 13px;
}

header .formSearch--select .dropdown-menu {
    /* position: absolute; */
    top: 102%;
    width: 100%;
    border-radius: 0%;
    overflow: auto;
    height: 500px;
}

.dropdown-menu:-webkit-scrollbar-thumb {
    background: #99a0ad;
}

.nav-item ul li:hover .ul-list {
    display: block;
    left: 100%;
    top: 0%;
}

.nav-item a {
    text-decoration: none;
    color: #29324e;
}

.collapse .nav-item li {}

.formSearch--button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}


/* .dropdown-menu {
    margin: 0!important;
    border-top: none;
    border-radius: 0;
    min-width: 1025px;
} */


/* .dropdown {
    display: block;
}

li:hover .dropdown {
    display: block;
} */

.collapse {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.headerBottom .navbar {
    width: 100%;
}

.icon--socialNetwork i {
    font-size: xx-large;
    margin-left: 30px !important;
    margin-right: 0px !important;
}

.nav-item {
    /* padding: 5px; */
}

.nav-item img {
    margin: 0 10px 0 20px;
}

.ul-list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 300px;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-top: 0 solid #d2d2d2;
    opacity: 0;
    transition-duration: .2s;
    /* z-index: 99; */
}


/* .collapse .nav-item:hover .ul-list>.dropdown-menu {
    display: block;
} */

.dropdown .dropdown-menu {
    padding: 0;
}

.collapse .nav-item:hover .ul-list {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    min-height: 300px;
    background: #fff;
    opacity: 1;
}

.nav-link {
    padding: 0.8rem 1rem;
}

.ul-list-element {
    list-style: none;
    height: 100%;
    padding: 0!important;
}

.ul-list-element li {
    padding: 10px 20px;
}

.ul-list-element hr {
    margin: 0 !important;
    color: #80808075;
}

.ul-list-element li:hover {
    background-color: #005ec4;
}

.ul-list-element>li:hover>a {
    color: white;
}

.ul-list-element li:hover>.dropdown-menu {
    display: flex;
    left: 100%;
    flex-direction: column;
    top: 0px;
    width: 100%;
    border: none;
    min-height: 361px;
    max-height: 362px;
    flex-wrap: wrap;
    min-width: 470.5px;
}

.ul-list-element li:hover>.dropdown-menu div {
    position: absolute;
    left: 100%;
    /* top: 25%; */
    width: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.ul-list-element li:hover>.dropdown-menu div::before {
    content: "";
    height: 100%;
    width: 100%;
    background: #005ec4;
    position: absolute;
    top: 0;
    left: 110px;
    z-index: 102;
    transform: skewX(-17deg);
}

.ul-list-element li:hover>.dropdown-menu div>img {
    width: 50%;
    /* position: absolute; */
    /* display: flex; */
    z-index: 105;
}


/* start daaus ther ul duw thuwaf cua deej quy */

.ul-list-element ul.dropdown-menu li:hover>ul {
    display: none;
}


/* endgame daaus ther ul cura ddeej quy  */

.ul-list-element>li:hover>.dropdown-menu hr {
    color: #ffffff00;
}

.ul-list-element>li .dropdown-menu>li:hover {
    background-color: #eef0f7;
}

.ul-list-element>li .dropdown-menu>li:hover a {
    color: #005ec4;
}

.carousel-control-next,
.carousel-control-prev {
    background-color: #ffffff;
    height: 8%;
    width: 3%;
}

.carousel-control-nexts,
.carousel-control-prevs {
    background-color: #ffffff;
    height: 8%;
    width: 3%;
}

.carousel-control-prev {
    left: 3%;
}

.carousel-control-next {
    right: 3%;
}

.carousel-control-nexts {
    right: 17%;
}

.carousel-control-next,
.carousel-control-prev {
    top: 44%;
    bottom: 44%;
}

.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 12px;
    opacity: .4;
    margin-right: 7px;
    margin-left: 7px;
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: #000000;
}


/* 
 */

.block__home {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.block--header {
    margin-top: 35px !important;
    margin-bottom: 45px !important;
    background: #dddfe6;
    height: 11px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block--header_title {
    background: #fff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #29324e;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.block--header_titles {
    background: #fff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #29324e;
    padding-left: 22px;
    padding-right: 22px;
    position: relative;
}

.block--header {
    text-align: center;
    background-color: #dddfe6;
}

.headerBottom>div,
.headerMain>div,
.headerTop>div,
.block-home>div,
.content__carousel>div,
.block--content,
.slick-carousel2,
.block--featured,
.block--channel,
.block--infoCompany,
.slick-carousel3,
.slick-carousel4,
.footer-top,
.footer-bottom {
    padding: 0;
}


/* test2 */

.content_collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.collapse-items {
    position: relative;
    height: 132px;
    overflow: hidden;
    width: 23%;
    margin-bottom: 3%;
    background-color: #29324e;
}

.collapse-items .shape {
    position: absolute;
    z-index: 8;
    width: 63%;
    border-color: rgb(41, 50, 78) transparent rgb(255, 143, 2);
    border-style: solid;
    border-width: 0px 0px 220px 84px;
    height: 110%;
    transition-duration: .3s;
    right: -10%;
}

.collapse-items span {
    z-index: 15;
    width: 80px;
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
}

.content_collapse .collapse-items:nth-child(1)>a>div {
    border-color: rgb(41, 50, 78) transparent rgb(255, 143, 2);
}

.content_collapse .collapse-items:nth-child(2)>a>div {
    border-color: rgb(41, 50, 78) transparent rgb(255, 242, 0);
}

.content_collapse .collapse-items:nth-child(3)>a>div {
    border-color: rgb(41, 50, 78) transparent rgb(255, 143, 2);
}

.content_collapse .collapse-items:nth-child(4)>a>div {
    border-color: rgb(41, 50, 78) transparent rgb(30, 236, 24);
}

.content_collapse .collapse-items:nth-child(5)>a>div {
    border-color: rgb(41, 50, 78) transparent rgb(142, 7, 239);
}

.content_collapse .collapse-items:nth-child(6)>a>div {
    border-color: rgb(41, 50, 78) transparent rgb(0, 249, 201);
}

.content_collapse .collapse-items:nth-child(7)>a>div {
    border-color: rgb(41, 50, 78) transparent rgb(249, 73, 95);
}

.content_collapse .collapse-items:nth-child(8)>a>div {
    border-color: rgb(41, 50, 78) transparent rgb(102, 93, 234);
}

.collapse-items img {
    z-index: 10;
    position: absolute;
    height: calc(100% - 50px);
    top: 25%;
    right: -10%;
    transition-duration: .3s;
}

.content_collapse .collapse-items:hover a>img {
    right: 5%;
}

.content_collapse .collapse-items:hover a>.shape {
    right: 0%;
}

.block--carousel {
    padding: 0 !important;
}


/* content__carousel */

.content__carousel {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}


/* slide slick-carousel2 */

.slick-carousel2 .slick-track {
    /* display: flex;
    justify-content: space-between; */
}

.slick-carousel2 .item {
    height: 50%;
}

.slick-carousel2 .item img {
    width: 100%;
}


/* block--comment */

.block--comment {
    display: flex;
}


/* slide--product */

.product__info {
    position: relative;
    overflow: hidden;
    /* min-height: 350px; */
}

.info--percent {
    z-index: 12;
    position: absolute;
    top: 0;
    /* height: 12%; */
    width: 15%;
    text-align: center;
    left: 0;
    background-color: red;
    color: white;
    transform: skew(-15deg);
    margin-left: -5px;
}

.slick-slide img {
    display: block;
    margin: auto;
}

.product__link {
    text-decoration: none;
    color: #29324e;
    font-weight: 700;
}

.product__link>img {
    width: 100%;
}

.price-root {
    text-decoration-line: line-through;
    color: grey;
}

.info--bottom button {
    position: absolute;
    visibility: hidden;
    bottom: 5%;
    left: 5%;
    background-color: #f9495f;
    color: white;
    width: 90%;
    border: 0;
    padding: 2% 0;
}

.product__link,
.bottom_rate,
.bottom_price {
    display: block;
    margin: 0px 5%;
    width: 90% !important;
}

.info--bottom {
    border-top: 1px solid #dddfe6;
}

.info--thumb {}

.slick-list {
    border: 1px solid #dddfe6;
}

.slick-track>.product:hover .info--bottom button {
    visibility: unset;
}

.product:hover .info--bottom button {
    visibility: unset;
}

.product {
    border: 1px solid #dddfe600;
}

.slick-track .product:hover {
    border: 1px solid #29324e;
}

.slick-track .product:hover .info--bottom {
    background-color: #29324e;
}

.product:hover .info--bottom {
    background-color: #29324e;
    /* min-height: 162px; */
}

.slick-track .product:hover .info--bottom .bottom_title a {
    color: white;
}

.product:hover .info--bottom .bottom_title a {
    color: white;
}

.slick-track .product:hover .info--bottom .bottom_rate,
.slick-track .product:hover .info--bottom .bottom_price {
    visibility: hidden;
}

.product:hover .info--bottom .bottom_rate,
.product:hover .info--bottom .bottom_price {
    visibility: hidden;
}

.info--bottom .bottom_title {
    padding-top: 4%;
}

.info--bottom .bottom_price {
    padding-bottom: 4%;
}


/* button VIEW-MORE */

.block--button {
    display: flex;
    justify-content: center;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

.view-more {
    color: white;
    background-color: #005ec4;
    padding: 7px 40px;
    border: 0;
    align-items: center;
}


/* block--featured */

.block--featured .featured_content {
    display: flex;
    justify-content: space-between;
}

.block--featured .featured_content .content-left {
    display: flex;
    flex-wrap: wrap;
    width: 52%;
}

.block--featured .featured_content .content-right {
    width: 50%;
}

.block--featured .featured_content .content-left .item {
    height: 48.5%;
    width: 50%;
}

.block--featured .featured_content img {
    width: 97.5%;
    height: 100%;
}

.block--featured .featured_content .content-right img {
    width: 100% !important;
}


/* block--channel */

.block--channel .channel_content {
    display: flex;
    justify-content: space-between;
}

.block--channel .channel_content .content-left {
    width: 59%;
}

.block--channel .channel_content .content-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.block--channel .channel_content .content-left iframe {
    width: 100%;
    height: 425px;
}

.block--channel .channel_content .content-right iframe {
    width: 54%;
    height: 185px !important;
    margin-right: 2%;
}

.block--channel .channel_content iframe {
    width: 100%;
}

.block--channel .channel_content .content-right .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.block--channel .channel_content a {
    text-decoration: none;
    color: rgb(41, 50, 78);
}


/* block--infoCompany */

.block--infoCompany .infoCompany_content {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.block--infoCompany .infoCompany_content .content-left {
    background-color: black;
    color: white;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block--infoCompany .infoCompany_content .content-left h3 {
    padding: 10px 60px;
}

.block--infoCompany .infoCompany_content .content-left p {
    padding: 23px 60px;
}

.block--infoCompany .infoCompany_content .content-right {
    width: 55%;
    height: 393px;
}

.block--infoCompany .infoCompany_content .content-right iframe {
    width: 100%;
    height: 100%;
}


/* slick-carousel3 */

.slick-carousel3 {
    margin-bottom: 3% !important;
    border: 1px solid #ffffff00;
}

.slick-carousel3 .item a img {
    width: 80%;
}

.slick-carousel3 .item:hover a img {
    transform: matrix3d(12);
}


/* slick-carousel4 */

.slick-carousel4 .item img {
    width: 100%;
}


/* footer */

.info-general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-general .item {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

.info-general .item h5 {
    color: white;
    margin-bottom: 7%;
}

.info-general .item a,
.contactInfo h5,
.contactInfo p {
    color: white;
    text-decoration: none;
    margin: 1% 0;
}

.info-general .itemFollow {
    width: 333px;
}

.info-general .item .icon-follow a {
    color: white;
    text-decoration: none;
    margin-right: 10%;
}

.info-general .item .icon-follow a i {
    font-size: 40px;
    font-weight: 500;
}

.contactInfo {
    display: flex;
    justify-content: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

.contactInfo .logo_dmca {
    width: 30%;
    display: flex;
    justify-content: center;
}


/* logo-footer */

.logo-footer {
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.logo-footer .logo {
    width: 37%;
}

.logo-footer span {
    align-self: center;
}

.logo-footer .logo img {
    margin-left: 2%;
}


/* modal cart */

.allPrice {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: #f0f3fc;
}

.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body_products .content-products-cart {
    margin: 0px;
    height: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}


/* bor border trong cart.php */

.body_products .content-products-carts {
    margin: 0;
    height: 100%;
    border: 1px solid rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: column;
}

.body_products .content-products-cart p {
    margin: auto;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.modal-body p,
.modal-body h5,
.modal-body span {
    color: #29324e;
}

.modal-body .modal-target3 h5 {
    color: white;
}

.modal-body .modal-target h5 {
    color: white;
}

.allPrice p {
    margin: 0;
}

.headerMain__cart .modal {
    /* left: 15.6%;*/
    top: 3%;
}

.headerMain__cart .modal-title {
    color: black;
}

.headerMain__cart .modal-dialog {
    max-width: 980px;
    margin: 1.75rem auto;
}

.totalProduct,
.totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.allPrice a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 750;
    height: 45px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.go-cart {
    background-color: #29324e;
    color: white;
}

.go-carts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 750;
    height: 45px;
    margin-bottom: 1%;
    margin-top: 2%;
    background-color: #29324e;
    color: white;
}

.noteVAT {
    text-align: end;
    font-weight: 400;
    color: rgb(78, 78, 84);
}

.allPrice .viewMores {
    border: 1px solid #005ec4;
}

.allPrice a:hover {
    color: #7edcff;
}

.totalProduct span {
    background-color: darkblue;
    color: yellow;
    padding: 1%;
}

.totalPrice span {
    background-color: rgb(180, 207, 135);
    color: #f0f3fc;
    padding: 1%;
}

.body_Price .info-cart div i {
    color: rgb(39, 174, 96) !important;
}

.body_Price .info-carts div i {
    color: rgb(39, 174, 96) !important;
}

.body_Price .info-cart div {
    margin: 1% 0;
}

.info-cart p {
    margin: 0;
}

.info-cart {
    margin: 3% 0;
}

.info-carts {
    margin: 3% 5%;
}

.logo-footer-cart .logo {
    display: flex;
}

td {
    color: black;
}


/* modal_cart */

.modal-content {
    padding: 0 10px;
}

.items_cart {
    display: flex;
    border: 1px solid green;
    padding: 10px;
    justify-content: space-evenly;
    margin: 10px 10px 0;
}

.items_cart>a {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.items_carts>a {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    margin: 10px 10px 0;
}

.items_carts {
    display: flex;
    border: 1px solid green;
    padding: 10px;
    justify-content: space-between;
    margin: 10px 0px 0px;
}

.img_products {
    width: 19%;
}

.img_products img {
    width: 100%;
}

.info_products {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-product {
    justify-content: space-evenly;
    display: flex;
}

.change_product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.change_product>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change_product input {
    width: 30px;
    height: 50%;
    text-align: center;
    border: none;
}

.i-product>i {
    color: #000000 !important;
}


/* category_product */

.category__product .product--collapse {}

.filter_producer {
    position: relative;
}

.breadcrumb__list>i {
    margin: 0 1%;
}

.inputResearch {
    position: relative;
}

.inputResearch>i {
    position: absolute;
    right: 6%;
    z-index: 15;
    width: 23px;
    top: 28.5%;
}

.research_producer {
    padding-bottom: 5%;
    transition: transform 0.3s ease-in;
}

.research_producer .inputResearch input {
    width: 90%;
    border: none;
    margin: auto;
    display: flex;
    padding: 2%;
    margin-bottom: 3% !important;
}

.checkboxResearch {
    margin: 2% 5%;
}

.checkboxResearch>div {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.checkboxResearch>div span {
    margin: 0 5%;
}

.research_producer .checkboxResearch input {
    height: 30px;
    width: 30px;
}

.filterss_price .research_price .scrollprice {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.inputResearch input:focus-visible {
    outline: none;
}

.filter_producer .category__product>div>i,
.category__product>div span {
    margin-right: 2%;
}


/* .inputresearch i {
    margin-right: 6%;
} */

.research_producer hr,
.research_price hr {
    width: 90%;
    margin: 0 auto 15px;
}

.category__product div h5 {
    margin-bottom: 7%;
}

.filterss_producer .title_producer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_producer p {
    margin: auto 0;
    padding: 15px 15px 10px 15px;
}

.title_producer>i,
.title_price>i {
    margin-right: 5% !important;
    transition: transform 0.2s ease-in;
}

.filterss_producer,
.filterss_price {
    background-color: #f0f3fc;
    color: black;
    margin-bottom: 5%;
}

.scrollprice a {
    text-decoration: none;
    color: white;
    background: cadetblue;
    padding: 5px;
    margin: 0 10px 10px 0;
}

.title_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_price>p {
    margin: auto 0;
    padding: 15px;
}

.title_price>i {
    margin-right: 5% !important;
}

.input_price {
    width: 90%;
    margin: auto;
}

.input_price input {
    border: none;
    padding: 2%;
}

.input_price>div {
    margin-bottom: 3%;
}

.input_price>button {
    color: white;
    background-color: cadetblue;
    border: none;
    border-radius: 2px;
    padding: 2% 6%;
    margin-bottom: 5%;
}

.input_price input:focus-visible {
    outline: none;
}


/* sortss */

.sortss {
    padding-left: 2%;
}

.sortss .sortss_title {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    justify-content: space-between;
}

.sortss .sortss_title .sortss_title_L,
.sortss .sortss_title .sortss_title_R {
    display: flex;
    align-items: center;
    width: 35%;
}

.sortss .sortss_title h5 {
    margin-right: 3% !important;
    margin: 0;
    width: 100%;
}

.sortss .sortss_title span {
    margin-right: 3% !important;
    margin: 0;
    width: 100%;
}

.selectsort {
    background-color: #f0f3fc;
    border: none;
    padding: 3px 6px;
}

.sortss_title .sortss_title_R .selectsort:focus-visible {
    outline: none;
}

.sortss_title>div {}


/* Product_sortss */

.sortss .sortss_product .product {
    border: 1px solid grey;
    margin-bottom: 5px;
    margin-right: 5PX;
    width: 24%;
}

.sortss .sortss_product {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product:hover {}

.hidden_class {
    display: none;
}

.modal-body .body_products {
    padding-left: 0 !important;
}

.modal-body .body_Price {
    padding-right: 0 !important;
}

.activeClassI {
    transform: rotate(90deg);
}

.modal-header {
    padding: 0.7rem 0rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.472);
}

.modal-headers {
    padding: 0.7rem 0rem;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.472); */
}

.modal-headerss {
    padding: 0.7rem 0rem 0.2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.472);
}

.modal-target {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.modal-target3 {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.modal-target div:nth-child(1):before {
    content: " ";
    width: 17px;
    height: 100%;
    top: 0;
    position: absolute;
    left: -9px;
    background: #005ec4;
}

.modal-target3 div:nth-child(1):before {
    content: " ";
    width: 17px;
    height: 100%;
    top: 0;
    position: absolute;
    left: -9px;
    background: #005ec4;
}

.modal-target div:nth-child(3)::after {
    content: " ";
    width: 17px;
    height: 100%;
    position: absolute;
    right: -9px;
    background: #005ec4;
    top: 0%;
}

.modal-target3 div:nth-child(3)::after {
    content: " ";
    width: 17px;
    height: 100%;
    position: absolute;
    right: -9px;
    background: #f0f3fc;
    top: 0%;
}

.modal-target div:nth-child(1),
.modal-target div:nth-child(2),
.modal-target div:nth-child(3) {
    transform: skewX(-20deg);
    background-color: #005ec4;
    color: white;
    padding: 10px 28px;
}

.modal-target3 div:nth-child(1),
.modal-target3 div:nth-child(2) {
    transform: skewX(-20deg);
    background-color: #005ec4;
    color: white;
    padding: 10px 28px;
}

.modal-target3 div:nth-child(3) {
    transform: skewX(-20deg);
    background-color: #f0f3fc;
    color: white;
    padding: 10px 28px;
}

.modal-target div>h4 {
    margin: 0;
}


/* categoryProduct */

.content__category {
    display: flex;
    margin: auto;
    flex-direction: column;
    /* margin-bottom: 2%; */
}

.category_block_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category_block_bottom {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.category--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f3fc;
    padding: 20px;
    margin-bottom: 2%;
    width: 23%;
    /* margin: 20px; */
}

.category_block_top .category--item>i {
    font-size: 55px;
}

.category_block_top .category--item>p {
    width: 55%;
    margin: 0;
}


/* Product__Detail */

.Product__Detail .carousel-inner {
    display: flex;
    border: 1px solid green;
    overflow: hidden;
    WIDTH: 540px;
    height: 508px;
}

.Product__Detail .carousel-item {
    display: flex;
}

.hidden_table {
    display: none;
}

a:-webkit-any-link {
    text-decoration: none;
}


/* comment in index_deatail */

.block--comment {
    display: flex;
    justify-content: space-between;
}

.block--comment .review_comment .content {
    display: flex;
}

.block--comment .review_comment .content .avatar_user {
    width: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.block--comment .review_comment .content .avatar_user img {
    width: 100%;
}

.block--comment .review_comment .rateOf_user>div:nth-child(4) {
    display: flex;
    justify-content: space-between;
}

.input_comment .input-group {
    display: flex;
    flex-direction: column;
}

.input_comment .input-group .vote_rate>span {
    margin-right: 10px !important;
}

.input_comment .input-group .vote_rate>i {
    margin-right: 10px !important;
}

.input_comment .input-group .content_rate {
    display: flex;
    flex-direction: column;
}

.input_comment .input-group .content_rate textarea {
    width: 540px;
    height: 185px;
}

.input_comment .input-group .content_rate button {
    background-color: #005ec4;
    color: white;
}


/* style TNC_news */

.container {
    /* padding-top: 35px; */
    width: 1400px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.f-columns {
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}

.wp-70 {
    width: 70%;
}

.st {
    width: 50%;
    margin-bottom: 15px;
}

.st img.img-1 {
    width: 444px;
}

.st img.img-2 {
    width: 155px;
}

.st-text-note {
    font-size: 14px;
    text-overflow: ellipsis;
    line-height: 21px;
    color: #000;
}

h2.st-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
}

.st-img {
    max-width: 100%;
    margin-bottom: 15px;
}

.st-2 {
    width: 100%;
}

.wp-30 {
    width: 30%;
}

.mr-35 {
    margin-right: 35px;
}

.st-2 {
    width: 100% !important;
}

.st-2 p {
    margin: 0px;
}

.ml-20 {
    margin-left: 20px;
}

.st-ct {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    text-align: justify;
    width: 100%;
}

.st-text {
    text-align: justify;
}


/* end style TNC_news */