/*
  flex-box
*/
.a-center {
  align-items: center !important;
}
.j-between {
  justify-content: space-between !important;
}
.j-center {
  justify-content: center !important;
}
.d-flex {
  display: flex !important;
}
.a-star {
  align-items: flex-start !important;
}
.a-end {
  align-items: flex-end !important;
}
/*
  custom-text
*/
.c-red {
  color:red;
}
/*
  custom-button
*/
.dt-button {
  border: 1px solid #fff;
  background: #459cad;
  cursor: pointer;
  align-items: center;
  padding: 4px 10px;
  outline: none;
  margin: 0px 2px;
  color: #fff;
  border-radius: 7px;
}
.dt-button.buttons-columnVisibility:not(.active) {
  background: #ddd;
  color: #000000d6;
}
.dt-button.buttons-columnVisibility.active {
  background: #459cad;
}
.dt-button:hover {
  background-color: #fff;
  color:#0c839c;
  border:1px solid #459cad;
  transition: .1s;
}
.dt-button.buttons-columnVisibility:hover {
  background: #ddd;
  color: #000000d6;
  border:1px solid #ddd;
  transition: .1s;
}
.button-brown {
  color:#725044 !important;
  border:1px solid #725044 !important;
  background-color:#fff !important;
}
.button-brown:hover {
  box-shadow: 0px 0px 9px hsl(16deg 48% 44%) !important;
  transition:.3s;
  border:1px solid #fff !important;
}
.button-red {
  color:red !important;
  border:1px solid red !important;
  background-color:#fff !important;
}
.button-red:hover {
  box-shadow: 0px 0px 9px #ff0000a3 !important;
  transition:.3s;
  border:1px solid #fff !important;
}
.button-blue:hover {
  box-shadow: 0px 0px 9px #0089c7a3 !important;
  transition:.3s;
  border:1px solid #fff !important;
}
.button-green:hover {
  box-shadow: 0px 0px 9px #008000a3 !important;
  transition:.3s;
  border:1px solid #fff !important;
}

.button-green {
  color:green !important;
  border:1px solid green !important;
  background-color:#fff !important;
}
.button-blue {
  color:#0089c7 !important;
  border:1px solid #0089c7 !important;
  background-color:#fff !important;
}
.button-purple {
  color:#9900ff !important;
  border:1px solid #9900ff !important;
  background-color:#fff !important;
}
.button-purple:hover {
  box-shadow: 0px 0px 9px #9900ffa4 !important;
  transition:.3s;
  border:1px solid #fff !important;
}
.button-orange {
  color:#db8404 !important;
  border:1px solid #db8404 !important;
  background-color:#fff !important;
}
.button-orange:hover {
  box-shadow: 0px 0px 9px #ff9900a4 !important;
  transition:.3s;
  border:1px solid #fff !important;
}
.button-grey {
  color:#353a3e !important;
  border:1px solid #abb7c0 !important;
  background-color:#fff !important;
}
.button-grey:hover {
  box-shadow: 0px 0px 9px #565b5f !important;
  transition:.3s;
  border:1px solid #fff !important;
}
.k-select-opt {
  position: relative;
  padding:5px;
  border:1px dashed red !important;
}
.kh-select-child-remove {
  position: relative;
  top:-6px;
  left:-5px;
}
.kh-select-child-remove::after {
  position: absolute;
  content: "-";
  font-size: 25px;
  color: red !important;
  font-weight: 700;
  /* background: #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  /*left: 98%;
  top: -14px;*/
  /*left: 45.5%;
  top: -13px;*/
  left: 96%;
  top:37px;
  border-radius: 50%;
  border: 1px solid red;
  width: 20px;
  height: 20px;
  background:#fff !important;
  cursor: pointer;
  margin:0 auto;
}
.k-select-opt-ins {
 
}

.k-select-opt-ins::after {
  position: absolute;
  content: "+";
  font-size: 20px;
  color: #fff4f8 !important;
  /* background: #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  /*left: 98%;
  top: -14px;*/
  /*left: 45.5%;
  top: -13px;*/
  left: 97%;
  top: -13px;
  border-radius: 50%;
  border: 1px solid;
  width: 20px;
  height: 20px;
  background: #51c5c5 !important;
  cursor: pointer;
  margin:0 auto;
}
.k-select-opt-remove::after{
  position: absolute;
  content: "\00d7";
  font-size: 20px;
  color: #fff4f8 !important;
  /* background: #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  /*left: 98%;
  top: -14px;*/
  left: 46.2%;
  top: -13px;
  border-radius: 50%;
  border: 1px solid;
  width: 20px;
  height: 20px;
  background: #e91e63 !important;
  cursor: pointer;
  margin:0 auto;
}
table.dataTable tr th.select-checkbox.selected::after {
  content: "\2713";
  margin-top: -11px;
  margin-left: -4px;
  text-align: center;
  color: #9900ff;
}
.dt-buttons {
  float:left !important;
 }
#s-price2{
  position: relative;
}
input.hasDatepicker {
  cursor: pointer;
}
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #fff;
}
table.dataTable span.highlight {
  /*border-radius: 5px;
  text-align: center;*/
  color: red;
  font-weight:600;
  border:none;
  /*border-bottom: 1px solid #17a2b8;*/
  /*padding: 0px 1px;*/
 }
button .highlight , button .highlight {
  color:inherit !important;
  font-weight:normal !important;
  width:auto;
}
/* width */
.w-250 {
  width:250px !important;
}
.w-200 {
  width:200px !important;
}
.w-150 {
  width: 150px !important;
}
.w-120 {
  width: 120px !important;
}
.w-100 {
  width: 100px !important;
}
.w-80 {
  width: 80px !important;
}
.width-100 {
  width: 100% !important;
}
.width-50 {
  width: 50% !important;
}
.width-auto {
  width: auto !important;
}
.w-300 {
  width: 300px !important;
}
/*
  margin,padding
*/

.pt-5 {
  padding-top: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-25 {
  padding-top: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-80{
  padding-right: 80px;
}


.pl-30 {
  padding-left: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}
.pb-50 {
  padding-bottom: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mt-50{
  margin-top: 50px;
}
.plr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.plr-25 {
  padding-left: 25px;
  padding-right: 55px;
}
.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.plr-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.plr-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.plr-60 {
  padding-left: 60px;
  padding-right: 60px;
}
a, input, textarea, button, select {
  outline: none;
}
a, button, select {
  cursor: pointer;
}
.container-fluid {
  padding:0px;
}
@media (max-width: 991.98px) {
  .main-header {
    margin-left:0px;
  }
  .main-sidebar {
    display: none;
  }
  .container-wrapper {
    margin-left:0px !important;
  }
}
li.nav-item {
 /* background-color: #494e53;*/
}

/* file upload */
.kh-file-lists {
  display:flex;
  flex-direction:column;
}
.kh-file-list {
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  position: relative;
  cursor: pointer;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.kh-custom-file {
  position:relative;
  border: 1px solid #ff00005e;
  border-radius:5px;
  width: 88px;
  height: 90px;
  margin-right:15px;
  margin-bottom:15px;
}
.kh-custom-file input[type='file'] {
  display: block;
  position: absolute !important;
  width: 90px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  left: 0;
}
.kh-custom-remove-img {
  position:relative;
}
.kh-custom-btn-remove {
  font-size:22px;
}
.kh-custom-btn-remove::after {
  position: absolute;
    content: "\00d7";
    font-size: 20px;
    color: #fff4f8 !important;
    /* background: #ddd; */
    display: flex;
    left:90%;
    justify-content: center;
    align-items: center;
    top: -14px;
    border-radius: 50%;
    border: 1px solid;
    width: 20px;
    height: 20px;
    background: #e91e63 !important;
    cursor: pointer;
}
.kh-div-append-file{
  width:90px;
  height:90px;
  
}
.kh-div-append-file button.kh-btn-append-file {
  width:100%;
  height:100%;
  font-size:40px;
  background-color:#fff;
  border-radius:5px;
  border: 1px solid #ddd;
}
.kh-files {
  display:flex;
  justify-content:space-between;
}
